@use '../../Global/colors' as *;
@use '../../mixins/mediaQueries.scss' as *;

.footer{
    width: 100%;
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    p,
    .socials,
    .emailSubmit {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
}
.email-cta{
    // display: flex;
    width: 90%;
    // margin: 30vh 0;
    margin-top: 30%;
    // background-color: red;
    div:nth-child(1){
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-10%);
        span {
            position: relative;
            flex: 1;
            transform: scale(1.5) translateY(-10%);
            clip-path: circle(35% at 50% 50%) !important;
            img {
                // position: absolute;
                width: 100%;
            }
        }
        div{
            flex: 3;
            height: 3vh;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .email-container{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
            }
            input{
                height: 100%;
                width: 60%;
                border: none;
                border-radius: 0.15rem;
                margin: 0.5rem 1rem;
                font-size: 1.95vw;
                outline: none;
                background-color: transparent;
                border-bottom: 0.05rem solid $primary-highlight;
        
            }
            button{
                width: 20%;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                span{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                @include sm_screen{
                    width: 30%;
                }
            }
        }
    }
    .socials-container{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-10%);

        @include sm_screen{
            transform: translateY(40%);
        }
        .socials{
            margin: 1rem 0.5rem;
        }
    }
}