@use './colors' as *;

.bg-left,
.bg-right{
    height: 100vh;
    width: 50vw;
    position: fixed;
    top: 0;
    background-color: $background-color;

    z-index: -3;
}
.bg-left{

    filter: overlay($background-color) blur(1rem);

    span{
        opacity: 0.2;
        height: 100vh !important;
    }
}
.bg-right{
    right: 0;
}

.content{
    width: 100vw;
    // margin: 5% 5%;
}

.content-section{
    // padding: 0.25vw 6vw;
    margin: 10% 5%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}

.btn{
    min-width: 4vw;
    min-height: 1.75vh;
    padding: 1.25rem 1rem;
    background-color: $main;
    color: $secondary-highlight;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
    &:Hover{
        background-color: $text-color;
        color: $secondary-highlight;
        transform: scale(1.05);
    }
}